.form-item {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.form-item label {
  text-align: right;
  min-width: 100px;
}

.form-item input {
  max-height: 20px;
}