.container {
  width: 80%;
  height: 90%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.header, .footer {
  background-color: var(--dark-brown);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#left-col {
  float: left;
  width: 100px;
  height: 80%;
  background-color: var(--light-brown);
  font: sans-serif;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-brown);
  font-weight: 1000;
  font-size: 20px;
}

.nav-links {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 5px;
}

.content {
  background-color: var(--lighter-brown);
  padding-left: 120px;
  height: 80%;
}

.footer {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clear: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-table {
  justify-self: center;
}

.menu-item {
  text-align: center;
}

.menu-table td {
  padding: 10px;
}

.dark-row {
  background-color: var(--dark-brown);
}

.light-row {
  background-color: var(--light-brown);
}

.music-table {
  margin-top: 15px;
  justify-self: center;
}

.artist-row {
  display: flex;
  gap: 30px;
  padding-left: 30px;
}

.artist-row div {
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.form-item label {
  text-align: right;
  min-width: 100px;
}

.form-item input {
  max-height: 20px;
}

.quantity-input {
  max-width: 30px;
}

.subtotal-input {
  max-width: 50px;
}