.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 19rem;
}

.admin-form {
    padding: 2rem 10rem;
    background-color: rgb(100,100,100);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 5rem;
}

.admin-form label {
    width: 10rem;
}


