.movie-information {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.movie-description {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.movie-poster {
    width: 30rem;
}